
html{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background: no-repeat center center;
  margin: auto;
  font-family: impact, sans-serif;
  background: linear-gradient(135deg, #4AECFC ,#F789DD );
}

nav{
  top: 0;
  right: 100%;
 }
 
body{
  justify-content: center;
  height: 100vh;
  width: 75%;
  margin: auto;
 }

/* styling the logo of the page */
.container-logo img{
  height: 30vh;
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: -1;
  top: 25px;
}

#logo{
  width: 100vw;
  left: 0;
}
.landing-text{
  color: white;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
}

/*styling the div sections*/

.external-link{
  color: black;
  background-color: #FDFA9F;
}

.container-links{
  position: relative;
  top: 50%;

}
a, h3{
  color: white
}
a:visited{
  color: grey
}

.container-documentary{
  display:flex;
  flex-wrap:  wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-documentary img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

p{
  color: white;
  font-family: helvetica;
}

li {
  list-style-type: none;
  color: blueviolet;
}
footer{
  height: 15vh;
  background-color: grey;
}
