/* for the top bar */
header{
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #dac4fb;
  position: absolute;
  margin-left: -12vw;
  padding: 10px;
  top: 0;
}
#site-logo{
  height: 200px;
}
#navbar{
  text-align: right;
}
 a.nav-link{
  display: inline;
  color: black;
  text-decoration: none;
  padding: 10px;
 }

/* GENERAL stylings */
body{
  height: 100vh;
  width: 75%;
  background-color: #f3efe5;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  margin: 0 auto;
 }

 main{
  margin-top: 100px;
 }

/* First section logo and text at top of the page */
.container-logo {
  height: 30vh;
  object-fit: cover;
  width: 100%;
  position: relative;
  margin-top:1px;
  margin-left: -12vw;
  
}
.landing-image{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: auto;

}
.landing-text{
 position: absolute;
 z-index: 1;
 width: 50%;
 margin-left: 10vw;
 margin-top: 25vh;
 color:#fff;
 font-size: 1.5rem;

}

/*styling the div sections*/
#date{
  margin-top: 300px;
}
.external-link{
  color: black;
  background-color: #FDFA9F;
}

.container-links{
  position: relative;
  top: 50%;

}
a, {
  color: white
}
a:visited{
  color: grey
}

.container-documentary{
  display:flex;
  flex-wrap:  wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-documentary img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

p{
  color: white;
  font-family: helvetica;
}

li {
  list-style-type: none;

}
footer{
  position: absolute;
  width: 100%;
  height: 15vh;
  background-color: #bebcb4;
  margin-left: -12vw;
  padding: 10px
}

.headings{
  height: 30px;
  background: #8a83e9;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  font-family: impact;
  letter-spacing: 2px;
  font-size: 1.2rem;

}